<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" 
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\SDB" />
    <add key="WSGI_HANDLER" value="core.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
    <add key="PYTHONHOME" value="C:\inetpub\wwwroot\SDB\env" />
  </appSettings>
</configuration>