{% extends "layouts/base.html" %}

{% block title %} Despacho clientes {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">Despacho Clientes</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Tablas</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Despacho Clientes</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<!-- Tabla de manifiesto de viaje -->
					<div class="card-header">
						<h5 class="card-title">Datos del manifiesto de viaje</h5>
					</div>
					<div class="card-header">

						<div class="cont-padre-despacho">

							<!--	Contenedor izquierdo	-->
							<div class="cont-izq-des-clien">

								<div class="form-group">
									<form id="search-form" class="row g-3">
										<div class="input-group">
											<div class="input-group-prepend">
												<button type="submit" id="margen-der" class="btn btn-default"
													type="button">Buscar</button>
											</div>
											<input type="text" id="frt-terms-id" name="frt-terms-id"
												class="form-control" placeholder="Num. Manifiesto" pattern="[0-9]+" />
										</div>
									</form>
								</div>

								<div class="form-group form-inline">
									<label for="inlineinput" class="col-md-3 col-form-label">Descripción: </label>
									<div class="col-md-9 p-0">
										<input type="text" class="form-control input-full" id="inlineinput"
											placeholder="Descripción">
									</div>
								</div>
							</div>

							<!--	Contenedor centrado		-->
							<div class="cont-centro-des-clien">
								<div class="form-group form-inline">
									<label for="inlineinput" class="col-md-3 col-form-label">Fecha: </label>
									<div class="col-md-9 p-0">
										<input type="date" class="form-control input-full" id="inlineinput"
											placeholder="Enter Input">
									</div>
								</div>

								<div class="form-group form-inline">
									<label for="inlineinput" class="col-md-3 col-form-label">Estado: </label>
									<div class="col-md-9 p-0">
										<input type="text" class="form-control input-full" id="inlineinput"
											placeholder="Enter Input">
									</div>
								</div>
							</div>

							<!--	Contenedor derecho		-->
							<div class="cont-der-des-clien">
								<div class="form-group form-inline">
									<label for="inlineinput" class="col-md-3 col-form-label">Camión: </label>
									<div class="col-md-9 p-0">
										<input type="text" class="form-control input-full" id="inlineinput"
											placeholder="Enter Input">
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="tabla-seriales" class="display table table-striped table-hover">
								<thead>
									<tr>
										<th class="">ID Producto</th>
										<th class="">Articulo</th>
										<th class="">Cant. Pedido</th>
										<th class="">Cant. Carga</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- AÑADIENDO EL MODAL  -->
			<div class="modal fade" id="fila-modal" tabindex="-1" role="dialog" aria-labelledby="fila-modal-label"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="fila-modal-label">Añadir Seriales</h5>
							<input type="text" class="form-control" placeholder="Añadir Serial del producto"
								id="add-producto" />
						</div>
						<div class="modal-body">
							<p id="fila-modal-info"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal" id="añadir">
								Añadir
							</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">
								Cerrar
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- FIN MODAL -->
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>
<!-- <script>
	$(document).ready(function () {
		$('#basic-datatables').DataTable({
		});


		// Add Row
		$('#add-row').DataTable({
			"pageLength": 5,
		});

		var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

		$('#addRowButton').click(function () {
			$('#add-row').dataTable().fnAddData([
				$("#addName").val(),
				$("#addPosition").val(),
				$("#addOffice").val(),
				action
			]);
			$('#addRowModal').modal('hide');

		});
	});
</script> -->

<script>
	$(document).ready(function () {
		/* Mostrar el Query realizado en la tabla */
		var tablaSeriales = $("#tabla-seriales").DataTable({
			ajax: "{% url 'get_serials_list' %}",
			scrollY: "50vh",
			scrollCollapse: true,
			paging: false,
			columns: [
				{ data: "InvtID" },
				{ data: "Descr" },
				{ data: "QtyOrd" },
				{ data: "QtyShip" },
			],
		});

		/* Agrega un event listener a cada fila de la tabla */
		tablaSeriales.on("click", "tbody tr", function () {
			// Obtiene los datos de la fila seleccionada
			var filaData = tablaSeriales.row(this).data();

			// Agrega la información de la fila al modal box
			$("#fila-modal-info").text(JSON.stringify(filaData));

			// Abre el modal box
			$("#fila-modal").modal("show");
		});

		/* Función para cerrar el modal al hacer clic en el botón de cerrar */
		function cerrarModal() {
			$("#fila-modal").modal("hide");
		}

		// Agrega el evento clic al botón de cerrar
		document
			.querySelector("#fila-modal #close")
			.addEventListener("click", cerrarModal);

		// Agrega el evento clic al fondo oscuro del modal
		document
			.querySelector("#fila-modal .modal-dialog")
			.addEventListener("click", function (event) {
				// Si el evento proviene del fondo oscuro del modal, cierra el modal
				if (event.target === this) {
					cerrarModal();
				}
			});

		//Hace la busqueda por el numero de manifiesto 
		$("#search-form").submit(function (event) {
			event.preventDefault();
			var frtTermsID = $("#frt-terms-id").val();

			$.ajax({
				url: "{% url 'get_serials_list' %}",
				data: { frt_terms_id: frtTermsID },
				success: function (data) {
					tablaSeriales.clear().rows.add(data.data).draw();
				}
			});
		});
	});


</script>

{% endblock javascripts %}