{% extends "layouts/base.html" %}

{% block title %} Despacho clientes {% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

<style>
  .boton-div {
    margin-left: 40px;
    margin-bottom: 20px;
  }

  #search-manifiesto {
    --bs-btn-padding-x: 4.966rem !important;
    --bs-btn-padding-y: 0.375rem !important;
  }

  .buscar {
    margin-right: 10%;
  }

  #search-form {
    margin-bottom: 10%;
  }

  #manifiesto-table {
    width: 100% !important;
    padding: 10px !important;
    box-sizing: border-box !important;
  }
</style>
{% endblock stylesheets %}
<!-- PRIMERA TABLA -->


{% block content %}
<div class="content">
  <div class="page-inner">
    <div class="page-header">
      <h4 class="page-title">Despacho Clientes</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="index.html">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="#">Tablas</a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="test_tabla.html">Despacho Clientes</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <!-- SECCION DE BUSCAR -->
      <div class="col-md-12">
        <div class="card">
          <div class="header-father" style="display: flex; justify-content:flex-start; padding: 40px 40px 0px 40px;">
            <div class="form-group">
              <form id="search-form" class="row g-3">
                <div class="col-auto">
                  <label for="frt-terms-id">Manifiesto</label>
                  <input type="text" id="frt-terms-id" name="frt-terms-id" class="form-control"
                    placeholder="Num. Manifiesto" disabled readonly />
                </div>
              </form>

              <form id="search-form" class="row g-3">
                <div class="col-auto">
                  <label for="desc-id">Descripción</label>
                  <input type="text" id="desc-id" name="desc-id" class="form-control" placeholder="Descripción" disabled
                    readonly />
                </div>
              </form>
            </div>

            <div class="form-group">
              <form id="search-form" class="row g-3">
                <div class="col-auto">
                  <label for="fecha-id">Fecha</label>
                  <input type="text" id="fecha-id" name="fecha-id" class="form-control" placeholder="Fecha" disabled
                    readonly />
                </div>
              </form>

              <form id="search-form" class="row g-3">
                <div class="col-auto">
                  <label for="estado-id">Estado</label>
                  <input type="text" id="estado-id" name="estado-id" class="form-control" placeholder="Estado" disabled
                    readonly />
                </div>
              </form>
            </div>

            <div class="form-group">
              <form id="search-form" class="row g-3">
                <div class="col-auto">
                  <label for="camion-id">Camión</label>
                  <input type="text" id="camion-id" name="camion-id" class="form-control" placeholder="Camión" disabled
                    readonly />
                </div>
              </form>
            </div>
          </div>
          <div class="form-group">
            <div class="boton-div">
              <button id="search-manifiesto" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#manifiesto-modal">
                Buscar
              </button>
            </div>
          </div>
          <!-- SECCION DE BUSCAR FIN-->

          <!-- SECCION DE LA TABLA -->

          <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="table-responsive">
                <table id="tabla-seriales" class="table table-hover" style="width: 100%">
                  <thead class="table-light">
                    <tr>
                      <th>ID Producto</th>
                      <th>Articulo</th>
                      <th>Pedido</th>
                      <th>Cant. Pedido</th>
                      <th>Cant. Carga</th>
                      <th>Cuantos</th>
                      <th>Seriales Cargados</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
          <!-- FIN DE SECCION DE LA TABLA -->
        </div>
      </div>


      <!-- Segunda tabla -->
      <div class="col-md-12">
        <div class="card">
          <!-- Tabla de manifiesto de viaje -->
          <div class="card-header">
            <h5 class="card-title">Datos del Manifiesto de Viaje</h5>
          </div>

          <div class="row text-center">
            <div class="card-body">
              <div class="table-responsive">
                <table id="detail-table" class="table table-hover" style="width: 100%">
                  <thead class="table-light">
                    <tr>
                      <th>Orden</th>
                      <th>Cant. Pedido</th>
                      <th>Cant. Ord</th>
                      <th>Cant. Carga</th>
                      <th>Cuantos</th>
                      <th>Cargados</th>
                      <th>ID Cliente</th>
                      <th>Cliente</th>
                      <th>ID Sucursal</th>
                      <th>Sucursal</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de la segunda tabla -->

      <!-- Modal Manifiesto -->
      <div class="modal fade" id="manifiesto-modal" tabindex="-1" aria-labelledby="manifiesto-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 1350px!important;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="manifiesto-modal-label">
                Lista de Manifiestos
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row text-center">
              <div class="modal-body">
                <div class="table-responsive">
                  <table id="manifiesto-table" class="table table-hover">
                    <thead class="table-light">
                      <tr>
                        <th>Num. Manifiesto</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Camion</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Manifiesto FIN-->
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<!-- <script>
  $(document).ready(() => {
    const manifiestoModal = $("#manifiesto-modal");
    const manifiestoTable = $("#manifiesto-table");
    const tablaSeriales = $("#tabla-seriales");
    const addSerialsTable = $("#add-serials");

    // Obtener el campo de entrada para los siguientes campos (Encabezado)
    const frtTermsIdInput = $("#frt-terms-id");
    const descInput = $("#desc-id");
    const fechaInput = $("#fecha-id");
    const estadoInput = $("#estado-id");
    const camionInput = $("#camion-id");

    // Cargar los datos de la lista de manifiestos en una tabla utilizando la API de DataTables
    const tableManifest = manifiestoTable.DataTable({
      order: [[2, "desc"]], //ordena de forma descendente la columna de la fecha[2]
      ajax: {
        url: "{% url 'getManifestList' %}",
        dataSrc: "data",
      },
      columnDefs: [
        {
          sortable: false,
        },
        {
          orderable: false,
          targets: [0, 1, 3, 4], //desactiva las columnas que no se van a ordenar
        },
      ],
      columns: [
        { data: "FrtTermsID" },
        { data: "Descr" },
        { data: "User9" },
        { data: "User7" },
        { data: "FOBID" },
      ],
      scrollY: "50vh",
      scrollCollapse: true,
      paging: false,
      searching: false,
      deferRender: true,
    });

    // Datatable para el modal de añadir seriales
    addSerialsTable.DataTable({
      searching: false,
      lengthChange: false,
    });
 

    // Agregar un controlador de eventos para el clic de fila en la tabla
    manifiestoTable.on("click", "tbody tr", { passive: true }, function () {
      // Obtener los datos de la fila seleccionada
      const data = tableManifest.row(this).data();

      // Mostrar el valor del encabezado en el campo de entrada deshabilitado
      frtTermsIdInput.val(data["FrtTermsID"]);
      descInput.val(data["Descr"]);
      fechaInput.val(data["User9"]);
      estadoInput.val(data["User7"]);
      camionInput.val(data["FOBID"]);

      if ($.fn.DataTable.isDataTable(tablaSeriales)) {
        tablaSeriales.DataTable().destroy();
      }

      // Obtener la información correspondiente a cada FrtTermsID y mostrarla en la tabla principal
      tablaSeriales
        .DataTable({
          data: [],
          columns: [
            { data: "InvtID" },
            { data: "Descr" },
            { data: "QtyOrd" },
            { data: "QtyShip" },
          ],
          columnDefs: [{ targets: "_all" }],
          scrollY: "35vh",
          scrollCollapse: true,
          paging: false,
          searching: false,
          deferRender: true,
        })
        .clear()
        .draw();

      $.ajax({
        url: "{% url 'getSerialsList' %}",
        data: { frt_terms_id: data["FrtTermsID"] },
        success: (data) => {
          tablaSeriales.DataTable().clear().rows.add(data.data).draw();
          manifiestoModal.modal("hide");
        },
      });
    });

    // Agrega un event listener a cada fila de la tabla
    tablaSeriales.on("click", "tbody tr", { passive: true }, function () {
      const filaData = tablaSeriales.DataTable().row(this).data();
      //  $("#fila-modal-info").text(JSON.stringify(filaData)); MUESTRA EL JSON EN EL MODAL, BORRAR
      $("#fila-modal").modal("show");
    });

    // Agrega el evento clic al botón de cerrar
    $("#fila-modal #close").on("click", { passive: true }, function () {
      $("#fila-modal").modal("hide");
    });
  });
</script> -->

<!-- Agregar las librerías de jQuery y DataTables -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script>
  $(document).ready(() => {
    const manifiestoModal = $("#manifiesto-modal");
    const manifiestoTable = $("#manifiesto-table");
    const tablaSeriales = $("#tabla-seriales");
    const addDetailTable = $("#detail-table");

    // Obtener el campo de entrada para los siguientes campos (Encabezado)
    const frtTermsIdInput = $("#frt-terms-id");
    const descInput = $("#desc-id");
    const fechaInput = $("#fecha-id");
    const estadoInput = $("#estado-id");
    const camionInput = $("#camion-id");

    // Cargar los datos de la lista de manifiestos en una tabla utilizando la API de DataTables
    const tableManifest = manifiestoTable.DataTable({
      order: [[2, "desc"]], //ordena de forma descendente la columna de la fecha[2]
      ajax: {
        url: "{% url 'getManifestList' %}",
        dataSrc: "data",
      },
      columnDefs: [
        {
          sortable: false,
        },
        {
          orderable: false,
          targets: [0, 1, 3, 4], //desactiva las columnas que no se van a ordenar
        },
      ],
      columns: [
        { data: "FrtTermsID" },
        { data: "Descr" },
        { data: "User9" },
        { data: "User7" },
        { data: "FOBID" },
      ],
      /*  scrollY: "50vh", */
      scrollCollapse: false,
      paging: true,
      searching: false,
      deferRender: true,
      lengthChange: false
    });

    // Datatable para el modal de añadir seriales
    /* detailTable.DataTable({
      searching: false,
      lengthChange: false,
    }); */


    // Agregar un controlador de eventos para el clic de fila en la tabla
    manifiestoTable.on("click", "tbody tr", { passive: true }, function () {
      // Obtener los datos de la fila seleccionada
      const data = tableManifest.row(this).data();

      // Mostrar el valor del encabezado en el campo de entrada deshabilitado
      frtTermsIdInput.val(data["FrtTermsID"]);
      descInput.val(data["Descr"]);
      fechaInput.val(data["User9"]);
      estadoInput.val(data["User7"]);
      camionInput.val(data["FOBID"]);
      
      if ($.fn.DataTable.isDataTable(tablaSeriales)) {
        tablaSeriales.DataTable().destroy();
      }

      // Obtener la información correspondiente a cada FrtTermsID y mostrarla en la tabla principal
      tablaSeriales
        .DataTable({
          data: [],
          columns: [
            { data: "InvtID" },
            { data: "Descr" },
            { data: "User5" },
            { data: "QtyOrd" },
            { data: "QtyShip" },
            { data: "cuantos" },
            { data: "cargado" },
          ],
          columnDefs: [{ targets: "_all" }],
          /* scrollY: "35vh", */
          scrollCollapse: true,
          paging: false,
          searching: false,
          deferRender: true
        })
        .clear()
        .draw();

      $.ajax({
        url: "{% url 'getSerialsList' %}",
        data: { frt_terms_id: data["FrtTermsID"] },
        success: (data) => {
          tablaSeriales.DataTable().clear().rows.add(data.data).draw();
          manifiestoModal.modal("hide");
        },
      });
    });

    //////
    tablaSeriales.on("click", "tbody tr", { passive: true }, function () {

      if ($.fn.DataTable.isDataTable(addDetailTable)) {
        addDetailTable.DataTable().destroy();
      }
      // Obtener los datos de la fila seleccionada
      const data = tablaSeriales.DataTable().row(this).data();

      // Obtener la información correspondiente a cada FrtTermsID y mostrarla en la tabla principal
      addDetailTable
        .DataTable({
          data: [],
          columns: [
            { data: 'OrdNbr' },
            { data: 'User5' },
            { data: 'QtyOrd' },
            { data: 'QtyShip' },
            { data: 'cuantos' },
            { data: 'cargado' },
            { data: 'CustID' },
            { data: 'BillName' },
            { data: 'ShiptoID' },
            { data: 'ShipName' },
          ],
          /* scrollCollapse: true, */
          paging: false,
          searching: false,
          deferRender: true
        })
        .clear()
        .draw();

      $.ajax({
        url: "{% url 'getOrdList' %}",
        data: { Invt_ID: data["InvtID"],},
        success: (data) => {
          addDetailTable.DataTable().clear().rows.add(data.data).draw();
        },
      });
    });

    // Agrega el evento clic al botón de cerrar
    $("#fila-modal #close").on("click", { passive: true }, function () {
      $("#fila-modal").modal("hide");
    });

    // Ajusta automáticamente las columnas de la tabla cuando se carga la información
    // manifiestoTable.tables({ visible: true, api: true }).columns.adjust();

  });
</script>
{% endblock javascripts %}